* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container {
    margin-top: 30px;
}
.game-container {
    display: flex;
}
.block {
    padding: 50px;
    border: 1px solid black;
}